In [1]:
import utils
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("queried_data/ve/vebals.csv")
df

                                       LP_addr        balance
0   0xd13294fa603d9243fb9aeff338a5639ee1bd6599   54789.179258
1   0x9da423a15a87e145d9daef73f30a710cb4106bd2       1.874849
2   0x002570980aa53893c6981765698b6ebab8ae7ea1  125740.221677
3   0x126bc064dbd1d0205fc608c3178a60c9706b482c     839.110057
4   0x26e4674c09cbbf0b367aae65d8d08b112e307a53  486097.716974
..                                         ...            ...
71  0x76618e298f5b5f43c254dcc863cef16cf89d4f0a   12412.665153
72  0xd1fba4e426b85dc4256a991af3c7808e69689e3b    9418.332626
73  0x15558eb2aeb93ed561515a47441bf49250933ba9  498415.338819
74  0xdd9743f6723fc1467d1ea48ba6bdb9a685b83c0b    2517.993276
75  0x64b0012681110fc8aa09f9e0eb29f64ec3010594    6211.396896

[76 rows x 2 columns]

In [4]:
df.balance.sum()

2320868.8050857894

In [3]:
df.balance.sum()

3080212.381730355

In [3]:
df.balance.sum()

3782930.5665977895